* { box-sizing: border-box; }

body {
  background: #edeff0;
  color: #333;
  font-family: 'Helvetica Nueue', sans-serif;
}

.wrapper {
  background: white;
  width: 500px;
  margin: auto;
  padding: 15px 30px;
  border-radius: 10px;
}

#input, .todo {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.todo:hover{
  font-weight: bold; 
  border:none;
  font-size:16px;
  background: #e5e5e5;
  color: #666;

}

.todo:hover > .equis{
  visibility: visible;
}

.equis{
   float: right;
   background:inherit;
}

input[type=checkbox]{
  text-decoration:  line-through;
  background: white;
}

ul {
  color: #666;
  list-style-type: none;
  padding: 0;
}

li {
  padding: 15px 15px 15px 10px;
  border-radius: 5px;
}

